@import "@/assets/styles/vars";
@import "@/assets/styles/templates";
@import "@/assets/styles/mixins";

// Global container of whole page
.global-container {
  position: relative;
  min-height: 100vh;
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background-color: var(--color-wrapper-bg);
}

// Class which is needed to disable links while loading anything
.disabled-link {
  pointer-events: none;
  filter: grayscale(50%);
}
